@media screen and (max-width: 1024px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container__caixa{
        margin: 60% 4%;
    }

    .container__imagem{
        width: 300px;
        margin: 20px 0;
    }

    .secundario{
        margin: 1.5em 0;
    }

    .secundario__imagem{
        width: 50%;
    }

    .descricao__titulo{
        text-align: center;
    }

    .descricao__texto{
        line-height: 1.5em;
    }

    .flex__container{
        flex-direction: column;
        margin: 4em 0;
    }

    .flex__rodape{
        flex-wrap: wrap;
    }

    .rodape{
        margin: 0 4%;
    }

    .rodape__texto{
        text-align: justify;
    }

    .
}

@media screen and (max-width: 400px){
    .descricao__titulo{
        font-size: 28px;
    }
    .descricao__texto{
        text-align: justify;
    }

    .icone__dispositivos{
        width: 75%;
    }
}